In [1]:
import pandas as pd

df = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_12.csv')

# В ans содержится правильный ответ. Перед отправкой своего решения, сравнитесь с ним.
ans = pd.read_csv('https://stepik.org/media/attachments/lesson/681964/2_2_12_ans.csv')

In [2]:
mean_rating = df['car_rating'].mean()

df[["car_rating", "year_to_work"]] = df[["car_rating", "year_to_work"]] + 1
df.query("car_rating > @mean_rating", inplace=True) # 

df['year_to_work'] = df['year_to_work'].apply(lambda v: v + 2 if v < 2017 else v // 5)

df.rename(columns={'year_to_start': 'new_year_to_start'}, inplace=True)

df.drop(columns=['fuel_type'], inplace=True)

df['car_type'] = 'super_' + df['car_type'].astype(str)

result = df.copy()

In [3]:
result.equals(ans)

False

In [4]:
ans.head()

,Unnamed: 0,car_id,model,car_type,car_rating,new_year_to_start,riders,year_to_work,target_reg,target_class
0,0,o-1588203t,VW Polo VI,super_economy,5.04,2014,61872,2018,46.175419,engine_check
1,1,B-1760099A,Renault Kaptur,super_standart,5.36,2015,95768,404,30.585652,engine_overheat
2,2,u-2045579o,Renault Kaptur,super_standart,6.94,2012,21114,404,68.091881,engine_ignition
3,3,V-4730687q,VW Tiguan,super_economy,5.10,2016,95799,403,39.808397,break_bug
4,4,K23027223e,Smart ForTwo,super_economy,4.82,2017,127971,404,37.024779,electro_bug

In [5]:
result.head()

,Unnamed: 0,car_id,model,car_type,car_rating,new_year_to_start,riders,year_to_work,target_reg,target_class
0,0,o-1588203t,VW Polo VI,super_economy,5.04,2014,61872,2018,46.175419,engine_check
1,1,B-1760099A,Renault Kaptur,super_standart,5.36,2015,95768,404,30.585652,engine_overheat
2,2,u-2045579o,Renault Kaptur,super_standart,6.94,2012,21114,404,68.091881,engine_ignition
3,3,V-4730687q,VW Tiguan,super_economy,5.10,2016,95799,403,39.808397,break_bug
4,4,K23027223e,Smart ForTwo,super_economy,4.82,2017,127971,404,37.024779,electro_bug